.hanchor:link {
	text-decoration: none;
	color:silver ;
}

.hanchor:visited {
	text-decoration: none;
	color:silver ;
}

.hanchor:hover { 
	visibility: visible;
	color:gray !important;
}

.nested-img img {
	width: auto;
	min-width: 100px;
	max-width: 100%;
	max-height: 400px;
}